# PlatformIO build and project metadata
.pio/
.pioenvs/
.piolibdeps/
.piomemory
.pio.test/
.pioide/
.pio-lock

# PlatformIO core cache
__pycache__/
*.pyc
*.pyo

# VSCode project settings
.vscode/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Thumbnails
._*

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini





# Arduino-related cache
*.arduino*
.cache/

# IDE-specific files (optional: add/remove based on your tools)
.clangd/
.idea/
*.code-workspace

# macOS Finder files
**/.DS_Store




/doc/snagit.snagx
